.Button-vol{
    width:"50px";
    height:"50px";
    color:black;
    border-color:black;
}
.Button-vol:hover{
    background-color: black;
    color:white;
    border-color:black;
}
.button-menu{
    width: "auto";
    height: 40px;
    font-size: 0.5rem;
    margin-left: 1rem;
    background-color: black; 
    color:white;
}

.button-menu.dark{
    width: "auto";
    height: 40px;
    font-size: 0.5rem;
    margin-left: 1rem;
    background-color: white; 
    color: black;
}

.small-pad{
    padding-top:20px;
    color:black
}

.small-pad.dark{
    color: white;
}

.icon-1{
    color:#1da1f2!important;
    height:2rem;
    margin-left:0.25rem;
}
.text-foot{
    margin-left:-20px;
    margin-top:0.25rem;
    color:black;
}

.text-foot.dark{
    color: white;
}

.icon-2{
    color:#5865f2!important;
    height:2rem;
    margin-left:0.25rem;
    margin-right:0.25rem;
}
.list-style{
    color:black;
    margin-left:0.5rem;
    width:80%;
}

.list-style.dark{
    color: white;
    margin-left:0.5rem;
    width:80%;
}

.btn-wallet{
    height:50px;
    /* background: #4e44ce; */
    font-size: 16px;
    font-weight: 600;
}
.box-border{
    border:1px solid grey;
    border-radius:0.25rem;
}

.dark{
    background: #0f172a;
    color: white;
}

.light{
    background: white;
    color: black;
}

@media (max-width: 1536px){
    .dark{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .light{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}